[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
keras = "*"
python-dotenv = "*"
jupyter = "*"
spotipy = "*"
flask = "*"
tensorflow = "*"
mysql-connector-python = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
