<html>
  <head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">
  <title>MY SOUND</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='music.png') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <script src="{{url_for('static', filename='search.js')}}"></script>
  </head>
  <body>
    <div id="left-box">
      <div id="logo-image">
        <!-- <img src="static/icon_white.png" alt="icon" width="45"> -->
      My Sound
      <br><br><br><br>

      <div id='btn-search'>
      <img src="static/search.png" alt="icon" width="30" id="lib-icon" >
      検索
      </div>

      <br>
      <a href="/library" target="_blank">
        <img src="static/music_white.png" alt="icon" width="30" id="lib-icon" >
        My Library
      </a>

      <br><br>
      <a href="/sign_in" target="_blank">
        <img src="static/sign_in_white.png" alt="icon" width="30" id="lib-icon" >
        ユーザ登録
      </a>


    </div>



    </div>
    <div id="right-box">
      <div class="search-boxes">
        <p id="input">

          <form method="post">
            好きな曲の情報を入力してください<br><br>

            <input name="track_name" type="text"  id="input1" placeholder="曲名"><br>
            <br>
            <input name="artist_name" type="text" id="input2" placeholder="アーティスト名"><br><br>


            <input type="submit" class="search-button" id="submit1" target="_blank" value="Search" disabled>
          </form>
        </p>
      </div>


    </div>

  </body>
</html>
